* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  --primary: #030213;
  --background: #ffffff;
  --foreground-text: oklch(0.145 0 0);
  --secondary: oklch(0.95 0.0058 264.53);
  --muted: #ececf0;
  --foreground: #717182;
  --foreground-light: #71718240;
  --foreground--semilight: #71718260;
  --accent: #e9ebef;
  --destructive: #d4183d;
  --border: rgba(0, 0, 0, 0.1);
  --input-background: #f3f3f5;
  --switch-background: #cbced4;
}

.secondary-text {
  font-weight: 500;
}

.header {
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  margin: 30px 0px;
  gap: 25px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-between;
  margin: 0px 15rem;
}

.nav span {
  font-weight: bold;
  font-size: x-large;
}
.nav .auth {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
  margin: 0px 10px;
}

.search-wrap {
  position: relative;
}

.primary-input {
  padding: 12px 14px 12px 42px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  height: 30px;
  outline: none;
  background-color: var(--secondary);
  width: 20rem;
  transition: 500ms;
}

.primary-input:focus {
  border: 1px solid var(--foreground--semilight);
  box-shadow:
    rgba(14, 30, 37, 0.12) 2px 2px 2px 2px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px;
}

.search-icon {
  position: absolute;
  left: 14px;
  top: 45%;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
}

.secondary-btn {
  background-color: transparent;
  border: none;
  height: 35px;
  padding: 0px 20px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  white-space: nowrap;
  transition: 500ms;
}

.secondary-btn:hover {
  background-color: var(--secondary);
  cursor: pointer;
}

.primary-btn {
  background-color: var(--primary);
  border: none;
  height: 35px;
  padding: 0px 20px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  color: var(--background);
  white-space: nowrap;
}

.primary-btn:hover {
  cursor: pointer;
}

.menu-btn {
  display: none;
}

.sub-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 15rem;
}

.categories {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  gap: 5px;
  flex-wrap: wrap;
}

.categories input {
  display: none;
}

.categories label {
  border: 0.1px solid var(--foreground-light);
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 11px;
  cursor: pointer;
  transition: 500ms;
}

.categories label:hover {
  background-color: var(--primary);
  color: var(--background);
}

.categories input:checked + label:hover {
  background-color: var(--primary) !important;
  color: var(--background);
}

.categories input:checked + label {
  border: none;
  background-color: var(--secondary);
}

@media (max-width: 1400px) {
  .nav {
    margin: 0px 10rem;
  }

  .sub-header {
    margin: 0px 10rem;
  }
}

@media (max-width: 1248px) {
  .nav {
    margin: 0px 5rem;
  }

  .sub-header {
    margin: 0px 5rem;
  }
}

@media (max-width: 1088px) {
  .search-wrap {
    display: none;
  }
}

@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 10%;
    left: 0;
    background: var(--background);
    width: 100%;
  }

  .nav-links.active {
    display: flex;
  }

  .nav {
    margin: 0px 2rem;
  }

  .sub-header {
    margin: 0px 2rem;
  }
}
