* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  --primary: #030213;
  --background: #ffffff;
  --foreground-text: oklch(0.145 0 0);
  --secondary: oklch(0.95 0.0058 264.53);
  --muted: #ececf0;
  --foreground: #717182;
  --accent: #e9ebef;
  --destructive: #d4183d;
  --border: rgba(0, 0, 0, 0.1);
  --input-background: #f3f3f5;
  --switch-background: #cbced4;
}

.secondary-text {
  font-weight: 500;
}

.header {
  border-bottom: 1px solid lightgray;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
  margin: 30px 20px;
}

.nav span {
  font-weight: bold;
  font-size: x-large;
}
.nav .auth {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
}

.search-wrap {
  position: relative;
}

.primary-input {
  padding: 12px 14px 12px 42px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  height: 35px;
  outline: none;
  background-color: var(--secondary);
  width: 20rem;
}

.primary-input:focus {
  border: 0.5px solid var(--foreground);
  box-shadow:
    rgba(14, 30, 37, 0.12) 2px 2px 2px 2px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px;
}

.search-icon {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
}

.secondary-btn {
  background-color: transparent;
  border: none;
  height: 35px;
  padding: 0px 20px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  white-space: nowrap;
}

.secondary-btn:hover {
  background-color: var(--secondary);
  cursor: pointer;
}

.primary-btn {
  background-color: var(--primary);
  border: none;
  height: 35px;
  padding: 0px 20px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  color: var(--background);
  white-space: nowrap;
}

.primary-btn:hover {
  cursor: pointer;
}

.menu-btn {
  display: none;
}

@media (max-width: 1025px) {
  .search-wrap {
    display: none;
  }
}

@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 10%;
    left: 0;
    background: var(--background);
    width: 100%;
  }

  .nav-links.active {
    display: flex;
  }

  .nav {
    justify-content: space-between;
  }
}
