* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  color: var(--primary);
}

a, 
a[href^="tel"], 
a[href^="sms"], 
[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading h1 {
  animation: blink 2s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.secondary-text {
  font-weight: 500;
}
.ml-8 {
  margin-left: 8px;
}
.mr-8 {
  margin-right: 8px;
}
.hidden {
  display: none;
}
