:root {
  --primary: #030213;
  --background: #ffffff;
  --foreground-text: oklch(0.145 0 0);
  --secondary: oklch(0.95 0.0058 264.53);
  --muted: #ececf0;
  --foreground: #717182;
  --foreground-light: #71718240;
  --foreground--semilight: #71718260;
  --accent: #e9ebef;
  --color-indigo-100: oklch(93.191% 0.03248 270.463);
  --color-gray: oklch(0.985 0.002 247.839);
  --destructive: #d4183d;
  --border: rgba(0, 0, 0, 0.1);
  --color-gray-50: oklch(0.985 0.002 247.839);
  --input-background: #f3f3f5;
  --switch-background: #cbced4;
  --footer-bg: #0b0f19;
  --footer-text: #adb5bd;
  --footer-heading: #ffffff;
  --footer-border: #1f2937;
  
  --footer-pill-bg: #111827;
  --footer-pill-border: #374151;
  
  --color-secure: #10b981;
  --color-protected: #3b82f6;
  --color-trusted: #8b5cf6;
}